# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDE/editor folders
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Miscellaneous
*.tmp
*.swp
*.swo
*.bak
